body {
    font-family: 'Poppins', sans-serif;
}

.section1 {
    display: flex;
}

#junk1 {
    font-size: 50px;
    text-align: center;
    padding-top: 100px;
}

.about1 {
    font-size: 50px;
    text-align: center;
    padding-top: 100px;
}

span {
    color: blueviolet;
}

.button {
    background-image: linear-gradient(violet, pink);
    border: none;
    border-radius: 20px;
    color: black;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}


#img1 {

    border-radius: 4px;
    padding: 5px;
    width: 600px;
    padding-left: 10px;
    padding-bottom: 50px;
}

#img2 {
    border-radius: 4px;
    padding: 5px;
    width: 500px;
    padding-left: 10px;

    padding-bottom: 50px;
}

.food1 {
    width: 50%;
    padding: 2%;
}

.food2 {
    width: 50%;
    padding: 2%;
}

.section2 {
    display: flex;
    background-image: url(images/shapes/Frame\ 59.jpg);
    background-repeat: no-repeat;
    background-size: 3000px;

}


}

.p1 {
    padding-top: 100px;
    text-align: justify;
    padding-bottom: 100px;

}

.health {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

#health1 {
    text-align: center;
    font-size: 15px;
    padding: 10px 50px 10px 50px;
}

.section3 {
    display: flex;
    padding-top: 50px;
}

.box {
    width: 33.33%;
    border-radius: 20px;
    padding: 30px 40px 30px 40px;

    margin: 50px;
    border: white;
    box-shadow: 5px 5px 4px 5px #888888;
    text-align: center;




}

.model {
    text-align: center;
}

.cover {
    width: 200px;
}

#flex-container {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;

    border-radius: 20px;
    box-shadow: 5px 10px gray;
    padding: 20px 50px;

    margin: 60px;
}

.flex-item {
    width: 33.33%;
    /* font-size: 22px; */
    font-weight: 900;
    padding: 5px 20px;

}

.section4 {
    background-color: #0e1b3b;
    text-align: center;
    padding: 40px 60px;
    font-size: 25px;

}

#last {
    color: white;
}

#lastid {
    color: khaki;
}

#lastid2 {
    color: #888888;
}